# Example environment configuration
ENVIRONMENT=development
API_URL_DEV=http://127.0.0.1:8000
API_URL_STAGING=http://staging-server.com
API_URL_PROD=http://production-server.com
API_URL_DEVICE=http://YOUR-LOCAL-IP:8000
API_PREDICT_ENDPOINT=predict